#empty-chat-logo {
  animation: emptyChat 2s 1s infinite linear;
}
@keyframes emptyChat {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}
